<%- include("partials/headers") %>
<<<<<<< HEAD
<div class="container">
	<a href="/campgrounds" class="btn btn-info">Return</a>
	<h1><%= campground.name %></h1>

	<img src="<%= campground.image %>">

	<p><%= campground.description %></p>
</div>

<%- include("partials/footer") %>
=======

<h1><%= campground.name%></h1>

<img src="<%= campground.image %>">

<p><%= campground.description %></p>

<%- include("partials/footer") %>
>>>>>>> 4529cee4552e270799810c883f348ce0477c3779
